@import "./basestyle.less";
.container {
  // max-width: @max-width;
  // min-width: @min-width;
  width: 100%;
  margin: 0 auto;
}
// header导航栏
.header-bar {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  .vux-header-left {
    .left-arrow:before {
      border-color: #fff !important;
      width: 10px !important;
      height: 10px !important;
    }
  }
}
// flex 布局
.ui {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.acenter {
    align-items: center;
  }
  &.jcenter {
    justify-content: center;
  }
  &.jbetween {
    justify-content: space-between;
  }
  .f1 {
    flex: 1;
  }
  .fshrink {
    flex-shrink: 0;
  }
}
