@import "./basestyle.less";
.container {
  // max-width: @max-width;
  // min-width: @min-width;
  width: 100%;
  margin: 0 auto;
}
// header导航栏
.header-bar {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  .vux-header-left {
    .left-arrow:before {
      border-color: #fff !important;
      width: 10px !important;
      height: 10px !important;
    }
  }
}
// flex 布局
.ui {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.acenter {
    align-items: center;
  }
  &.jcenter {
    justify-content: center;
  }
  &.jbetween {
    justify-content: space-between;
  }
  .f1 {
    flex: 1;
  }
  .fshrink {
    flex-shrink: 0;
  }
}
// 图片
.icon-my-order {
  display: inline-block;
  width: 22.5px;
  height: 15px;
  &:before {
    content: "";
    display: block;
    width: 13px;
    height: 15px;
    background: url("../../assets/images/my_btn_order@2x.png") no-repeat 0 0;
    background-size: 100%;
  }
}
.icon-my-coupon {
  display: inline-block;
  width: 22.5px;
  height: 11px;
  &:before {
    content: "";
    display: block;
    width: 15px;
    height: 11px;
    background: url("../../assets/images/my_btn_coupon@2x.png") no-repeat 0 0;
    background-size: 100%;
  }
}
.icon-my-address {
  display: inline-block;
  width: 22.5px;
  height: 15px;
  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 15px;
    background: url("../../assets/images/my_btn_address@2x.png") no-repeat 0 0;
    background-size: 100%;
  }
}
.icon-my-setting {
  display: inline-block;
  width: 22.5px;
  height: 15px;
  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 15px;
    background: url("../../assets/images/my_btn_setting@2x.png") no-repeat 0 0;
    background-size: 100%;
  }
}
.icon-my-opinion {
  display: inline-block;
  width: 22.5px;
  height: 15px;
  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 15px;
    background: url("../../assets/images/my_btn_opinion@2x.png") no-repeat 0 0;
    background-size: 100%;
  }
}
